input {
  display: block;
  width: 100%;
}

*:focus {
  outline-color: red;
  outline-offset: 3px;
  outline-width: 3px;
}


h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 50px;
}

.language {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.switch-lang {
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
}

.active-lang {
  background-color: rgb(209, 149, 149);
}

.container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.calculator {
  margin-top: 20px;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.calculator__button {
  font-size: 24px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  color: white;
}

.calculator__button:disabled {
  cursor: not-allowed;
}

.calculator__button:not(:first-child):hover {
  background-color: rgb(102, 100, 100);
}

.calculator_button-form {
  grid-column: 3 span;
}

.calculator_button-clear {
  grid-column: 3 span;
}

.calculator_button-accuracy:hover {
  background-color: black !important; 
}

.calculator_button-accuracy {
  text-align: center;
}

.calculator_button-accuracy::placeholder {
  color: rgb(131, 131, 148);
}

.sqrt-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  gap: 10px;
  padding-left: 10px;
  overflow-x: auto;
}

.results {
  text-align: left;
  text-wrap: nowrap;
}

/* Главный контейнер для корня, используем Flexbox */
.sqrt-svg {
  display: inline-flex;
  align-items: stretch; /* Выравниваем элементы по высоте */
  line-height: 1;
  margin-bottom: 7px;
}

/* Контейнер для SVG-иконки */
.sqrt-svg-icon {
  flex-shrink: 0; /* Запрещаем иконке сжиматься */
  width: 1em; /* Ширина левой части корня */
  position: relative;
}
.sqrt-svg-icon svg {
  position: absolute;
  bottom: -0.2em; /* Точная подгонка по вертикали */
  height: 1.5em; /* Высота иконки */
  right: -3px;
  width: 100%;
}

/* Контейнер для контента и динамической крышки */
.sqrt-svg-content {
  /* Создаем крышку с помощью верхней границы */
  border-top: 2.5px solid black; 
  padding: 0.2em 0.4em 0;
    transform: translateY(0.12em);
}

.sqrt-degree {
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 100;
  font-size: 16px;
  text-align: center;
}

.sqrt-degree:focus {
  outline: none;
}

.active {
  background-color: aqua !important;
}

.calculator__input:focus {
  outline: none;
}

.calculator__input {
  width: 100%;
}

.output-form {
  width: 100%;
}

.other-info {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.socials img {
  width: 40px;
  height: 40px;
}

.errors {
  color: red;
}